* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.load{
    color: white;
    font-family: monospace;
    letter-spacing: 1rem;
    margin-top: 10px;
    font-style: italic;
}

.circle {
    display: grid;
    place-content: center;
    height: 50px;
    width: 50px;
    border-radius: 100vh;
    border: 10px solid;
    border-color: rgb(228, 2, 115) transparent;
    animation: spin 1s linear infinite;
    z-index: 1;
}

.outer-circle {
    display: grid;
    place-content: center;
    height: 30px;
    width: 30px;
    border-radius: 100vh;
    border: 7.5px solid;
    border-color: rgb(0, 162, 255) transparent;
    animation: spin 0.5s linear infinite reverse;
    z-index: 10;
}

.inner-circle {
    height: 15px;
    width: 15px;
    border-radius: 100vh;
    border: 8px solid;
    border-color: rgb(2, 235, 21) transparent;
    animation: spin 1s linear infinite;
    z-index: 99;
}

@keyframes spin {

    100%{
        rotate: 360deg;
    }


}